img{
    height: 120px;
    
    position: relative;
    top: -30px;
    right: 0px;
    left: 760px;
}

#menu{
    font-size: 30px;
    
    position: relative;
    left: 1500px;
    top: -100px;
    color: #005f98;
    
}


#location{

    font-size: 30px;
    
    position: relative;
    left: 1600px;
    top: -100px;
    color: #005f98;

}



#CoffeeLogo{
    font-size: 30px;
    
    position: relative;
    left: 1498px;
    top: -100px;
    color: #005f98;

}






#bar{
  
    height: 5px;
    border-style: solid ;
    border-width:2px;
    border-color: #005f98;
    border-radius: 30px;
    padding: 15px;
    width: 300px;

    position: relative;
    left: 1300px;
}


#SearchGlass{

    position: relative;
    left: 923px;
    bottom: -13px;
    font-size: 33px;
    color: #005f98;
}

#Menu{

    color: #005f98;

        font-family: "Tauri", sans-serif;
        font-weight: bold;
        font-style: normal;
      }
      

#Image2{
    height: 300px;
    
    position: relative;
    left: 100px;
    top: -230px;
}

#Image1{
    
height: 300px;
width: 350px;

position: relative;

left: 680px;
right: 100px;
top: 136px;
}

#Image3{
    height: 230px;
    position: relative;

    top: -550px;
    left: 1250px;

}

h3{
    color: #005f98;
    font-family: "Peignot-Bold";
}

#SeasonalDrinks{

    position: relative;

    top: 170px;
    left: 160px;
}

#DutchFaves{

    position: relative;

    top: -195px;
    left: 800px;
}

#Lemonades{

    position: relative;

    top: -485px;
    left: 1400px;

}

.Blackbar{

    width:            100%;
    height:           2px;
    background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    margin-top:       -200px;
    padding:          0px;
}


.Login{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #005f98;
    font-size: large;

    position: relative;
    top: -150px;
    left: 60px;
}

.Signup{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #005f98;
    font-size: large;

    position: relative;
    top: -186px;
    left: 160px;

}

.Rewards{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #005f98;

    position: relative;
    top: -222px;
    left: 270px;

}
